.section-heading-section-heading {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.section-heading-text {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.section-heading-text1 {
  color: var(--dl-color-gray-black60);
  text-align: center;
  line-height: 24px;
}



.category-card-category-card {
  flex: 0 0 auto;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
}
.category-card-category-card:hover {
  color: var(--dl-color-pallet-yellow);
  transform: scale(1.2);
}
.category-card-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
  object-position: bottom;
}
.category-card-text {
  line-height: 14px;
}
@media(max-width: 767px) {
  .category-card-category-card {
    width: 48%;
  }
  .category-card-image {
    width: 100%;
    height: 250px;
  }
}
@media(max-width: 479px) {
  .category-card-category-card {
    width: 100%;
  }
}

.item-card-gallery-card {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.item-card-image {
  top: 0px;
  flex: 1;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  object-fit: cover;
}
.item-card-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.item-card-text {
  color: var(--dl-color-gray-black80);
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: var(--dl-space-space-unit);
}
.item-card-container1 {
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: repeat(5,1fr);
}
.item-card-icon {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.item-card-icon02 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.item-card-icon04 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.item-card-icon06 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.item-card-icon08 {
  fill: var(--dl-color-pallet-yellow);
  width: 24px;
  height: 24px;
}
.item-card-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.item-card-currency {
  color: var(--dl-color-gray-black50);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.item-card-value {
  color: var(--dl-color-gray-black50);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.item-card-root-class-name {
  flex: 1;
}



.item-card-root-class-name4 {
  flex: 1;
  height: 100%;
}


.item-card-root-class-name7 {
  flex: 1;
  height: 100%;
}




@media(max-width: 767px) {
  .item-card-gallery-card {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .item-card-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}

.blog-post-card-blog-post-card {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 400px;
  align-self: stretch;
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-card-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card-image {
  flex: 1;
  width: 100%;
  object-fit: cover;
}
.blog-post-card-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.blog-post-card-text {
  color: var(--dl-color-gray-black80);
  font-size: 22px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
  line-height: 28px;
  margin-bottom: var(--dl-space-space-unit);
}
.blog-post-card-text1 {
  color: var(--dl-color-gray-black50);
  font-size: 16px;
  font-style: normal;
  margin-bottom: var(--dl-space-space-twounits);
}


@media(max-width: 991px) {
  .blog-post-card-blog-post-card {
    max-width: 48%;
  }
}
@media(max-width: 767px) {
  .blog-post-card-blog-post-card {
    max-width: 100%;
  }
}

.home1-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.home1-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.home1-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home1-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.home1-container01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home1-image {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}
.home1-textinput {
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home1-textinput:hover {
  border-color: var(--dl-color-pallet-yellow);
}
.home1-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.home1-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.home1-logo-center {
  text-decoration: none;
}
.home1-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.home1-icons {
  display: flex;
}
.home1-image1 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home1-image2 {
  width: 24px;
  height: 24px;
  margin: 0 24px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home1-image3 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home1-burger-menu {
  display: none;
}
.home1-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.home1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home1-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.home1-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home1-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home1-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.home1-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home1-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home1-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home1-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home1-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home1-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.home1-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home1-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home1-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home1-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home1-hero {
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: var(--dl-color-pallet-green);
}
.home1-max-width {
  max-width: 1032px;
}
.home1-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home1-container03 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home1-info {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home1-image4 {
  width: 2px;
  height: 52px;
  margin: 0 14px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}
.home1-text12 {
  color: var(--dl-color-gray-black50);
  font-size: 12px;
  text-align: left;
  font-family: Jost;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.home1-text16 {
  max-width: 450px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home1-container04 {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: row;
}
.home1-text17 {
  color: var(--dl-color-gray-black80);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-right: 4px;
  letter-spacing: 0.1em;
}
.home1-text18 {
  color: var(--dl-color-gray-black80);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}
.home1-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home1-image5 {
  width: 100%;
  position: relative;
  max-width: 579px;
  box-sizing: border-box;
  max-height: 579px;
  object-fit: cover;
  border-color: transparent;
}
.home1-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-twounits);
  flex-wrap: wrap;
  max-width: 1080px;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: space-between;
}
.home1-banner {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-950);
}
.home1-container05 {
  flex: 0 0 auto;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home1-text19 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text20 {
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1em;
  text-transform: uppercase;
}
.home1-container06 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home1-container07 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 770px;
  box-sizing: border-box;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.home1-text23 {
  color: var(--dl-color-gray-black80);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Jost;
  font-weight: 400px;
  line-height: 175%;
  font-stretch: normal;
  margin-bottom: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.home1-svg {
  top: -30px;
  width: 199px;
  height: 200px;
  position: absolute;
}
.home1-gallery {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.home1-left1 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-right1 {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.home1-top {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.home1-left2 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-right2 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-bottom {
  flex: 1;
  width: 100%;
  display: flex;
}
.home1-left3 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-right3 {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-full-width-banner {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding-top: var(--dl-space-space-fourunits);
  justify-content: center;
}
.home1-left4 {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: #F3F0E6;
}
.home1-content {
  margin: 0 0 40px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  flex-direction: column;
}
.home1-text29 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 16px 0;
  font-size: 28px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Jost;
  font-weight: 500px;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
.home1-text30 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  width: 267px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Jost;
  font-weight: 400px;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.home1-btn {
  cursor: pointer;
  display: flex;
  padding: 16px 24px;
  position: relative;
  box-sizing: border-box;
  transition: 0.3s;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: rgba(239, 193, 76, 1);
}
.home1-btn:hover {
  background-color: var(--dl-color-gray-white);
}
.home1-text31 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Jost;
  font-weight: 500px;
  line-height: 14px;
  font-stretch: normal;
  text-decoration: none;
}
.home1-image6 {
  width: 60%;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.home1-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home1-footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home1-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.home1-container09 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.home1-text32 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text33 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.home1-text36 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.home1-text37 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.home1-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home1-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home1-text38 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.home1-text39 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text40 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text41 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text42 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text43 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text44 {
  color: var(--dl-color-gray-black50);
}
.home1-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home1-text45 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.home1-text46 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text47 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text48 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text49 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text50 {
  color: var(--dl-color-gray-black50);
}
.home1-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-text51 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
.home1-text52 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text53 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text54 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
.home1-text55 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .home1-container01 {
    display: none;
  }
  .home1-left {
    display: none;
  }
  .home1-right {
    display: none;
  }
  .home1-icons {
    display: none;
  }
  .home1-burger-menu {
    display: flex;
  }
  .home1-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .home1-logo-center1 {
    margin-left: 0px;
  }
  .home1-hero1 {
    flex-direction: column;
  }
  .home1-container03 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home1-text16 {
    text-align: center;
  }
  .home1-left1 {
    width: 100%;
  }
  .home1-footer1 {
    flex-direction: column-reverse;
  }
  .home1-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home1-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-hero {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home1-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home1-cards-container {
    grid-gap: var(--dl-space-space-unit);
  }
  .home1-text23 {
    max-width: 770px;
  }
  .home1-gallery {
    flex-direction: column;
  }
  .home1-top {
    flex-direction: column;
  }
  .home1-bottom {
    flex-direction: column;
  }
  .home1-full-width-banner {
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home1-left4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home1-content {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home1-text30 {
    width: auto;
  }
  .home1-image6 {
    width: 100%;
  }
  .home1-footer1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .home1-container {
    padding-top: 55px;
  }
  .home1-header {
    padding: var(--dl-space-space-unit);
  }
  .home1-mobile-menu {
    padding: 16px;
  }
  .home1-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home1-container03 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home1-btn-group {
    flex-direction: column;
  }
  .home1-left4 {
    width: auto;
  }
  .home1-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .home1-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home1-container10 {
    margin-right: var(--dl-space-space-unit);
  }
  .home1-container11 {
    margin-right: var(--dl-space-space-unit);
  }
}
